@define-color light #ecfff4;
@define-color background #eceff4;
@define-color text #4c566a;
@define-color text_hover #4c446a;

* {
  border: 0;
  font-family: "overpassm nerd font mono";
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @background;
}

window#waybar:first-child > box {
  /* border-radius: 4px; */
  color: @background;
  padding-left: 16px;
  padding-right: 16px;
}

.modules-right {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
}

.modules-center {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
}

.modules-left {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
}

#workspaces button {
  transition: all 0.1s ease-in-out;
  border-bottom: 2px solid transparent;
  border-radius: 0px;
  padding: 4px;
  font-size: 16px;
  margin: 0 2px;
}

#workspaces button:hover {
  background: inherit;
  border-color: @background;
}

#workspaces button.focused {
  /* background-color: @background; */
  border-bottom: 4px solid @background;
  /* color: @text_hover; */
  color: @background;
}

/*background-color: @bg;*/
