* {
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font", monospace;
}

/* Window */
window {
  /*margin: 0px;*/
  padding: 16px;
  /*border: 3px solid @accent;*/
  border-radius: 7px;
  /*background-color: @bg;*/
  animation: slideIn 0.25s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
    opacity: 0;
    padding: 6px;
    border-radius: 0px;
  }

  100% {
    opacity: 1;
    padding: 36px;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  /*background-color: @bg;*/
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  box-shadow: 10px 10px 10px -20px rgba(0, 0, 0, 0.6);
  width: 30px;

  /*background-color: @bg;*/
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
}

/* Input */
#input {
  margin: 5px;
  padding: 10px;
  border: none;
  /*color: @accent;*/
  /*background-color: @bg2;*/
  animation: fadeIn 0.5s ease-in-out both;
}

/* Text */
#text {
  /*width: 30px;*/
  margin: 8px;
  height: 24px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  /*color: @txt;*/
  animation: fadeIn 0.5s ease-in-out both;
}

/* Selected Entry */
/*#entry:selected {*/
/*background-color: @accent;*/
/*}*/

/*#entry:selected #text {*/
/*color: @bg;*/
/*}*/
